@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Sansita+Swashed:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

*{
    box-sizing: border-box; 
    
}

html{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #353540;
}

body{
    margin: 0;
    height: 100%;
    padding: 15px;   
}    

main{
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    border: 2px solid indianred;
}
/*Tarjetas*/
.tarjeta{
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    margin-top: 15px;
    font-family: 'Courier Prime', monospace;
    color: white;
}


.lado{
    border-radius: 20px;
    perspective: 150px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 2s ease-out;
}

.tarjeta:hover .frontal{
    transform: rotateY(-180deg);
}

.tarjeta:hover .trasera{   
  -webkit-transform: rotateY(0);
    transform: rotateY(0deg);
}

/*Primera tarjeta*/

.n1 .frontal{
    background-image: url('../images/Imagen.jpg');
    background-position: left;
    background-attachment: local;
}

.n1 .trasera{
    background: linear-gradient(45deg, rgba(51,12,67,1) 5%, rgba(209,63,99,1) 41%, rgba(227,79,111,1) 68%, rgba(243,140,3,1) 91%, rgba(236,104,22,1) 100%);
    transform: rotateY(180deg);
    padding: 25px;
}

.n1 .trasera h3{
    text-align: center;
    font-size: 2em;
}
.n1 .cuerpo{
    position: relative;
    font-size: 1.25em;
}
.n1 .cuerpo::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: radial-gradient(ellipse, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 75%);
    top: -25px;
    left: 0;
    border-radius: 5px;
}

/*Segunda tarjeta*/

.n2 .frontal{
    background-image: url('../images/Imagen.jpg');
    background-position: center;
    background-attachment: local;
}

.n2 .trasera{
    background: linear-gradient(45deg, rgba(51,12,67,1) 5%, rgba(209,63,99,1) 41%, rgba(227,79,111,1) 68%, rgba(243,140,3,1) 91%, rgba(236,104,22,1) 100%);
    transform: rotateY(180deg);
    padding: 25px;
}

.n2 .trasera h3{
    text-align: center;
    font-size: 2em;
}
.n2 .cuerpo{
    position: relative;
    font-size: 1.25em;
}
.n2 .cuerpo::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: radial-gradient(ellipse, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 75%);
    top: -25px;
    left: 0;
    border-radius: 5px;
}

/*Tercera tarjeta*/
.n3 .frontal{
    background-image: url('../images/Imagen.jpg');
    background-position: right;
    background-attachment: local;
}

.n3 .trasera{
    background: linear-gradient(45deg, rgba(51,12,67,1) 5%, rgba(209,63,99,1) 41%, rgba(227,79,111,1) 68%, rgba(243,140,3,1) 91%, rgba(236,104,22,1) 100%);
    transform: rotateY(180deg);
    padding: 25px;
}

.n3 .trasera h3{
    text-align: center;
    font-size: 2em;
}
.n3 .cuerpo{
    position: relative;
    font-size: 1.25em;
}
.n3 .cuerpo::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: radial-gradient(ellipse, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 75%);
    top: -25px;
    left: 0;
    border-radius: 5px;
}

.n3 .cuerpo a{
    text-decoration: none;
    color: white;
}